{% extends 'base.html.twig' %}

{% block title %}Your Profile{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/profile.css') }}"
{% endblock %}

{% block body %}
    <div class="profile-container">
        <div class="profile-update-form">
            <h2>Update Your Information</h2>
            {{ form_start(form) }}
            <div class="form-group">
                {{ form_label(form.username) }}
                <p>
                    {{ form_widget(form.username, { 'attr': {'class': 'form-control'} }) }}
                </p>
            </div>
            <div class="form-group">
                {{ form_label(form.email) }}
                <p>
                    {{ form_widget(form.email, { 'attr': {'class': 'form-control'} }) }}
                </p>
            </div>
            <div class="align-items-start">
                <a href="{{ path('profile_change_password') }}" class="btn text-decoration-underline">Update my password</a>
            </div>
            <div class="d-flex justify-content-center align-items-center mt-4">
                <button type="submit" class="btn btn-primary btn-update">Update Profile</button>
            </div>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
