{% extends 'base.html.twig' %}

{% block title %}Your Profile{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/profile.css') }}"
{% endblock %}

{% block body %}
    <div class="profile-container">
        <div class="profile-update-form">
            <h2>Update Your Password</h2>
            {{ form_start(form) }}
            <div class="form-group">
                {{ form_label(form.password) }}
                {{ form_widget(form.password, { 'attr': {'class': 'form-control'} }) }}
            </div>
            <div class="form-group">
                {{ form_label(form.newPassword.first) }}
                {{ form_widget(form.newPassword.first, {'attr': {'class': 'form-control'}}) }}
            </div>
            <div class="form-group">
                {{ form_label(form.newPassword.second) }}
                {{ form_widget(form.newPassword.second, { 'attr': {'class': 'form-control'} }) }}
            </div>
            <div class="d-flex justify-content-center align-items-center mt-4">
                <button type="submit" class="btn btn-primary btn-update">Update my password</button>
            </div>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
