{% extends 'base.html.twig' %}

{% block title %}Your Shopping Cart{% endblock %}

{% block stylesheets %}
{% endblock %}

{% block body %}
    <main class="page_wrapper">
        {% if cart|length > 0 %}
            <div class="container position-relative zindex-2 pt-5 pb-lg-5 pb-md-4 pb-2">
                <form action="{{ path('order_create') }}">
                    <div class="row">
                        <div class="col-lg-12 offset-lg-1 pt-1">
                            <h2 class="text-center pt-md-2 my-4 mt-lg-5 fw-bolder">Your order</h2>
                            <p class="fw-bold">
                                <a href="{{ path('shop_index') }}" class="btn text-decoration-underline">Continue shopping</a>
                                <a href="{{ path('cart_remove_all') }}" class="btn text-decoration-underline">Remove all</a>
                            </p>


                            {% set total = null %}

                            {% for item in cart %}
                                {% set total = total + (item.product.price * item.quantity)  %}
                                <div class="d-sm-flex align-items-center border-top py-4">
                                    <a class="d-inline-block flex-shrink-0 bg-secondary rounded-1 p-sm-2 p-xl-3 mb-2 mb-sm-0" href="{{ path('product_detail', { id: item.product.id }) }}">
                                        <img src="{{ vich_uploader_asset(item.product, 'attachmentFile') }}" width="110" alt="Product">
                                    </a>
                                    <div class="w-100 pt-1 ps-sm-4">
                                        <div class="d-flex">
                                            <div class="me-3">
                                                <h3 class="h5 mb-2">
                                                    <a href="{{ path('product_detail', { id: item.product.id }) }}" class="text-decoration-none">{{ item.product.title }}</a>
                                                </h3>
                                                <p class="mb-2" style="width: 500px;">{{ item.product.subtitle }}</p>
                                            </div>
                                            <div class="text-end ms-auto">
                                                <span class="fs-5 mb-2 fw-bold">{{ (item.product.price * item.quantity)|number_format(2, ',', '.') }} €</span>
                                            </div>
                                        </div>
                                        <div class="count-input ms-n3">
                                            <a href="{{ path('cart_decrease', { id: item.product.id }) }}" class="btn btn-icon fs-xl" data-decrement>-</a>
                                            <label>
                                                <input class="form-control text-center" type="number" value="{{ item.quantity }}" readonly>
                                            </label>
                                            <a href="{{ path('cart_add', { id: item.product.id }) }}" class="btn btn-icon fs-xl" data-increment>+</a>
                                        </div>
                                        <div class="nav justify-content-end mt-n5 mt-sm-n3">
                                            <a class="nav-link fs-xl p-2" href="{{ path('cart_remove', { id: item.product.id }) }}" data-bs-toggle="tooltip" title="Remove">
                                                <i class="fa-solid fa-trash-can"></i>
                                                <span style="font-family: 'Crimson Text', serif; text-decoration: underline">Remove</span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                            <ul class="list-unstyled py-3   mb-0">
                                <li class="d-flex justify-content-between mb-2">
                                    Number of items:
                                    <span class="fw-bold ms-2">{{ cart|length }}</span>
                                </li>
                            </ul>
                            <div class="d-flex align-items-center justify-content-between border-top fs-xl pt-4">
                                Total:
                                <span class="fs-3 fw-bolder text-dark ms-2">{{ total|number_format(2, ',', '.') }} €</span>
                            </div>
                            <button class="confirm-button" type="submit">
                                Confirm my cart
                            </button>
                        </div>
                    </div>
                </form>

            </div>
        {% else %}
            <div class="container d-flex flex-column justify-content-center min-vh-100 py-5">
                <div class="text-center pt-4 mt-lg-2">
                    <h1 class="display-5">Your cart is empty</h1>
                    <p class="fs-lg pb-2 pb-md-0 mb-4 mb-md-5">
                        Start shopping now with our articles
                    </p>
                    <a class="btn confirm-button" href="{{ path('shop_index') }}">Go to my shop</a>
                </div>
            </div>
        {% endif %}
    </main>
{% endblock %}
