{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block stylesheets %}{% endblock %}

{% block body %}
    <div class="d-flex justify-content-center" style="height: 100vh; margin: 20px auto">
        <form method="post">
            {% if error %}
                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}

            {% if app.user %}
                <div class="mb-3">
                    You are logged in as {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Logout</a>
                </div>
            {% endif %}

            <h1 class="text-center">Sign in</h1>
            <label for="inputEmail">E-mail</label>
            <p>
                <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control m-lg-3" autocomplete="email" required autofocus placeholder="E-mail">
            </p>
            <label for="inputPassword">Password</label>
            <p>
                <input type="password" name="password" id="inputPassword" class="form-control m-lg-3" autocomplete="current-password" required placeholder="Password">
            </p>

            <input type="hidden" name="_csrf_token"
                   value="{{ csrf_token('authenticate') }}"
            >

            <div class="checkbox mb-3">
                <label>
                    <input type="checkbox" name="_remember_me"> Remember me
                </label>
            </div>

            <button class="btn btn-primary mt-3 m-lg-3" type="submit">
                Sign in
            </button>
        </form>
    </div>

{% endblock %}
