{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    <div class="d-flex justify-content-center" style="height: 100vh; margin: 20px auto">
        <div class="register-container">
            <h1 class="text-center">Register</h1>

            {{ form_errors(registrationForm) }}

            {{ form_start(registrationForm) }}
                {{ form_row(registrationForm.username) }}
                {{ form_row(registrationForm.email) }}
                {{ form_row(registrationForm.plainPassword) }}

                <div class="form-check">
                    {{ form_widget(registrationForm.agreeTerms) }}
                    {{ form_label(registrationForm.agreeTerms) }}
                    {{ form_errors(registrationForm.agreeTerms) }}
                </div>

                <button type="submit" class="btn btn-primary mt-3 m-lg-3">Register</button>
            {{ form_end(registrationForm) }}
        </div>
    </div>
{% endblock %}
