{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block stylesheets %}{% endblock %}

{% block body %}
    <div class="d-flex justify-content-center" style="height: 100vh; margin: 20px auto">
        <div class="register-container">
            <h1 class="text-center">Register</h1>

            {{ form_errors(registrationForm) }}

            {{ form_start(registrationForm) }}

                {{ form_label(registrationForm.username) }}
                <p>
                    {{ form_widget(registrationForm.username) }}
                </p>

                {{ form_label(registrationForm.email) }}
                <p>
                    {{ form_widget(registrationForm.email) }}
                </p>

                {{ form_label(registrationForm.plainPassword) }}
                <p>
                    {{ form_widget(registrationForm.plainPassword) }}
                </p>

                <div class="form-check">
                    {{ form_widget(registrationForm.agreeTerms) }}
                    {{ form_label(registrationForm.agreeTerms) }}
                    {{ form_errors(registrationForm.agreeTerms) }}
                </div>

                {{ form_row(registrationForm._token) }}

                <button type="submit" class="btn btn-primary mt-3 m-lg-3">Register</button>
            {{ form_end(registrationForm) }}
        </div>
    </div>
{% endblock %}
